h1.title {
    font-family: sans-serif; 
    text-align: center;
}

body {
    background-color: #51a6d6; 
  }


button.start {
    font-family: sans-serif;
}

div.center {
    margin: 0;
    position: absolute;
    left: 50%;
}

.start {
  background: rgba(0, 8, 25, 0.225);
  backdrop-filter: blur(17px);
  border: none;
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: rgb(12, 29, 103);
  font-size: 16px;
  padding: 12px 24px;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  position: absolute;
  
}

div.form-container {
    margin: 0;
    position: absolute;
    left: 43%;
    width: 200px;
}




div.form-container-inner {
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

input[type=number].form {
    width: 100%;

}