h1.title {
    font-family: sans-serif; 
    text-align: center;
}

html {
    height: 100%;
}


body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(-45deg, rgb(86, 125, 207), rgb(204, 99, 99), rgb(213, 216, 21)); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}




button.start {
    font-family: sans-serif;
    cursor: pointer;
}

div.center {
    margin: 0;
    position: absolute;
    left: 50%;
}

.start {
  background: rgba(0, 8, 25, 0.225);
  backdrop-filter: blur(17px);
  border: none;
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: black;
  font-size: 25px;
  padding: 12px 24px;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  position: absolute;
  
}

div.form-container {
    margin: 0;
    position: absolute;
    left: 43%;
    width: 200px;
}




div.form-container-inner {
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
}

input.form[type=number] {
    width: 100%;
    border-radius: 10px;
    border: none;
}

input.form[type=submit] {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: none;
    font-size: 25px;
    cursor: pointer;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



div.index {
    margin: 0;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 37%;
}


ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.menu {
    display: inline;
}


ul.menu li.menu button {
    background: rgba(0, 8, 25, 0.225);
    backdrop-filter: blur(17px);
    border: none;
    border-radius: 20px;
    color: black;
    font-size: 25px;   
}