{% extends 'template.html' %}

{% block head %}


{% endblock %}

{% block body %}

<h1 class="title">Predict your Income</h1>

<div class="form-container">
    <div class="form-container-inner">
        <form action="http://localhost:5000/calc/prediction" method="post">
            <p style="font-family: sans-serif;">Enter Years of Education</p>
            <input type="number" class="form" name="edu" required>
            <p style="font-family: sans-serif;">Enter Hours Per Week</p>
            <input type="number" class="form" name="hrs" required> <br><br>
            <input type="submit" name="Submit" class="form">
        </form>
    </div>
</div>

{% endblock %}